      <!-- Modal Login-->
	  <div class="modal fade" id="modalLogin" role="dialog" ng-controller="loginController">
	       <div class="modal-dialog">
	    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header" style="background-color: #BDB3B3;border-radius: 7px 7px 0px 0px;">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Iniciar Sesion</h4>
		        </div>
		        <div class="modal-body">
		          <div id="contenidoModal">

		          <form name="loginForm" id="loginForm" action="" method="post" >
					<div class="row">
						<div id="usuario_contenido" class="col-md-12">									
							<label id="usuario_label" for="usuario_input">Usuario</label> 
							<input id="usuario_input" ng-model="usuarioLogin" type='text' ng-keyup="ocultarMsj()"/>									
						</div>
					</div>
					<div class="row">
						<div id="clave_contenido" class="col-md-12">						
							<label id="clave_label" for="clave_input">Contraseña</label>
							<input id="clave_input" ng-model="claveLogin" type="password" ng-keyup="ocultarMsj()"/>									
						</div>
					</div>	
					<div id="msj_usuarioClave" class="msj_usuarioClave" ng-show="msjLogin">usuario/contraseña errados(s)</div>
															
				</form>			

		          </div>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-gris" data-dismiss="modal">Cancelar</button>

		       <button id="modal_aceptar" type="button"  data-backdrop="false" class="btn btn-danger" ng-click="validaLogin()" >Aceptar</button>
		        </div>
		      </div>
		      
		    </div>

	 </div>
	 <!--  -->	
