<div class="panel panel-primary panelEncabezado" id="encabezado_tomador">
    <div class="panel-heading panelHeading">
      	<h3 class="panel-title panelTitulo">Datos Tomador</h3>
    </div>
    
    <div class="panel-body" >	  
	    <div class="row ">
		    <div class="col-md-3">
		    	<span style="font-weight: bold;" >Nombre: </span>
		    	<span id="encabezado_idProforma">{{nombreTomador}}</span>
		    </div>
		    <div class="col-md-3">
		    	<span style="font-weight: bold;">Apellido: </span>
		    	<span id="encabezado_expProforma">{{apellidoTomador}}</span>
		   </div>    
		   <div class="col-md-3">
		    	<span style="font-weight: bold;">Cedula: </span>
		    	<span id="encabezado_expProforma">{{cedulaTomador}}</span>
		   </div>  
		    <div class="col-md-3">
		    	<span style="font-weight: bold;">Telefono: </span>
		    	<span id="encabezado_expProforma">{{telefonoTomador}}</span>
		   </div>  
		</div>		    
    </div>
</div>

<!-- <div class="lineaPanel"></div> -->